{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="section-content padding-y bg">
        <div class="container">

            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-md-6">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap main-image">
                                <center><img src="{{ product.images.url }}" alt="Product Image"></center>
                            </div> <!-- img-big-wrap.// -->
                        </article> <!-- gallery-wrap .end// -->
                        <ul class="thumb">
                            <li>
                                <a href="{{ product.images.url }}" target="main-image"><img
                                        src="{{ product.images.url }}" alt="Product Image"></a>
                                {% for i in product_gallery %}
                                    <a href="{{ i.images.url }}" target="main-image"><img src="{{ i.images.url }}"
                                                                                          alt="Product Image"></a>
                                {% endfor %}
                            </li>
                        </ul>

                    </aside>
                    <main class="col-md-6 border-left">


                        {#        FORM#}
                        <form action="{% url 'add_cart' product.id %}" method="POST">
                            {% csrf_token %}

                            <article class="content-body">

                                <h2 class="title">{{ product.name }}</h2>

                                <div class="rating-stars">
                                <span>
                                    <i class="fa fa-star{% if product.average_rating < 0.5 %}-o{% elif review.rating >= 0.5 and product.average_rating < 1 %}-half {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_rating < 1.5 %}-o{% elif review.rating >= 1.5 and product.average_rating < 2 %}-half {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_rating < 2.5 %}-o{% elif review.rating >= 2.5 and product.average_rating < 3 %}-half {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_rating < 3.5 %}-o{% elif review.rating >= 3.5 and product.average_rating < 4 %}-half {% endif %}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_rating < 4.5 %}-o{% elif review.rating >= 4.5 and product.average_rating < 5 %}-half {% endif %}"
                                       aria-hidden="true"></i>
                                </span>
                                    <span>{{ product.average_rating }}</span>

                                    <span> - {{ product.count_ratings | add:0 }} reviews</span>
                                </div>

                                <div class="mb-3">
                                    <var class="price h4">${{ product.price }}</var>
                                </div>

                                <p>{{ product.description }}</p>


                                <hr>
                                {#                                <div class="row">#}
                                {#                                    <div class="item-option-select">#}
                                {#                                        <h6>Choose Color</h6>#}
                                {#                                        <select name="color" class="form-control" required>#}
                                {#                                            <option value="" disabled selected>Select</option>#}
                                {#                                            {% for i in product.variation_set.colors %}#}
                                {#                                                <option value="{{ i.variation_value | lower }}">{{ i.variation_value }}</option>#}
                                {#                                            {% endfor %}#}
                                {#                                        </select>#}
                                {#                                    </div>#}
                                {#                                </div> <!-- row.// -->#}
                                <div class="row">
                                    <div class="item-option-select">
                                        <h6>Choose Color</h6>
                                    {% if product.variation_set.colors %}
                                        <div class="color-selection">
                                            {% for i in product.variation_set.colors %}
                                                <label class="color-option">
                                                    <input type="radio" name="color"
                                                           value="{{ i.variation_value | lower }}" required>
                                                    <span class="color-box">{{ i.variation_value }}</span>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p style="color:red">No Colors Available</p>
                                    {% endif %}
                                    </div>
                                </div> <!-- row.// -->
                                {#                                <div class="row">#}
                                {#                                    <div class="item-option-select">#}
                                {#                                        <h6>Select Size</h6>#}
                                {#                                        <select name="size" class="form-control" required>#}
                                {#                                            <option value="" disabled selected>Select</option>#}
                                {#                                            {% for i in product.variation_set.sizes %}#}
                                {#                                                <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>#}
                                {#                                            {% endfor %}#}
                                {#                                        </select>#}
                                {#                                    </div>#}
                                {#                                </div> <!-- row.// -->#}
                                <div class="row">
                                    <div class="item-option-select">
                                        <h6>Select Size</h6>
                                        {% if product.variation_set.sizes %}
                                        <div class="size-selection">
                                            {% for i in product.variation_set.sizes %}
                                                <label class="size-option">
                                                    <input type="radio" name="size"
                                                           value="{{ i.variation_value | lower }}" required>
                                                    <span class="size-box">{{ i.variation_value | capfirst }}</span>
                                                </label>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <p style="color:red">No Sizes Available</p>
                                    {% endif %}
                                    </div>
                                </div> <!-- row.// -->

                                <hr>
                                {% if product.stock <= 0 %}

                                    <h5 class="text-danger">Out of Stock</h5>
                                {% else %}
                                    {#        {% if in_cart %}#}
                                    {#            <a href="" class="btn btn-outline-success" style="pointer-events:none"> <span class="text">Added to Cart</span> <i class="fas fa-check"></i>  </a>#}
                                    {#            <a href="{% url 'cart' %}" class="btn btn-primary"> <span class="text">View Cart</span> <i class="fas fa-eye"></i>  </a>#}
                                    {#        {% else %}#}
                                    <button type="submit" class="btn  btn-primary"><span class="text">Add to cart</span>
                                        <i class="fas fa-shopping-cart"></i></button>
                                    {#        {% endif %}#}
                                    </article> <!-- product-info-aside .// -->
                                    </form>

                                    {#        FORM#}
                                {% endif %}

                    </main> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->


            <br>

            <div class="row">
                <div class="col-md-9">


                    <form action="{% url 'submit_review' product.id %}" method="POST">
                        {% csrf_token %}
                        <h4>Write your review</h4>
                        <div>
                            <p>Rate this product:</p>
                            <div class="rate">
                                <input type="radio" id="rating10" name="rating" value="5"/><label for="rating10"
                                                                                                  title="5 stars"></label>
                                <input type="radio" id="rating9" name="rating" value="4.5"/><label class="half"
                                                                                                   for="rating9"
                                                                                                   title="4 1/2 stars"></label>
                                <input type="radio" id="rating8" name="rating" value="4"/><label for="rating8"
                                                                                                 title="4 stars"></label>
                                <input type="radio" id="rating7" name="rating" value="3.5"/><label class="half"
                                                                                                   for="rating7"
                                                                                                   title="3 1/2 stars"></label>
                                <input type="radio" id="rating6" name="rating" value="3"/><label for="rating6"
                                                                                                 title="3 stars"></label>
                                <input type="radio" id="rating5" name="rating" value="2.5"/><label class="half"
                                                                                                   for="rating5"
                                                                                                   title="2 1/2 stars"></label>
                                <input type="radio" id="rating4" name="rating" value="2"/><label for="rating4"
                                                                                                 title="2 stars"></label>
                                <input type="radio" id="rating3" name="rating" value="1.5"/><label class="half"
                                                                                                   for="rating3"
                                                                                                   title="1 1/2 stars"></label>
                                <input type="radio" id="rating2" name="rating" value="1"/><label for="rating2"
                                                                                                 title="1 star"></label>
                                <input type="radio" id="rating1" name="rating" value="0.5"/><label class="half"
                                                                                                   for="rating1"
                                                                                                   title="1/2 star"></label>

                            </div>
                            <br>
                            Review Title:
                            <input type="text" class="form-control" name="subject">
                            <br>
                            Review:
                            <textarea name="review" id="review" rows="4" class="form-control"></textarea>
                            <br>
                            {% if user.is_authenticated %}
                                {% if order_product %}
                                    <button type="submit" class="btn  btn-primary"><span
                                            class="text">Submit Review</span>
                                        <i class="fas fa-comment"></i></button>
                                {% else %}
                                    <p>You can leave review only if you purchased this product.</p>
                                {% endif %}
                            {% else %}
                                <p>Log in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
                            {% endif %}
                        </div>
                        {% include 'includes/alerts.html' %}
                    </form>
                    <br>
                    <header class="section-heading">
                        <h3>Customer Reviews </h3>
                        {#                    <h6>Average Reviews</h6>#}
                        {#                        <div class="rating-stars">#}
                        {#                                <span>#}
                        {#                                    <i class="fa fa-star{% if product.average_rating < 0.5 %}-o{% elif review.rating >= 0.5 and product.average_rating < 1 %}-half {% endif %}"#}
                        {#                                       aria-hidden="true"></i>#}
                        {#                                    <i class="fa fa-star{% if product.average_rating < 1.5 %}-o{% elif review.rating >= 1.5 and product.average_rating < 2 %}-half {% endif %}"#}
                        {#                                       aria-hidden="true"></i>#}
                        {#                                    <i class="fa fa-star{% if product.average_rating < 2.5 %}-o{% elif review.rating >= 2.5 and product.average_rating < 3 %}-half {% endif %}"#}
                        {#                                       aria-hidden="true"></i>#}
                        {#                                    <i class="fa fa-star{% if product.average_rating < 3.5 %}-o{% elif review.rating >= 3.5 and product.average_rating < 4 %}-half {% endif %}"#}
                        {#                                       aria-hidden="true"></i>#}
                        {#                                    <i class="fa fa-star{% if product.average_rating < 4.5 %}-o{% elif review.rating >= 4.5 and product.average_rating < 5 %}-half {% endif %}"#}
                        {#                                       aria-hidden="true"></i>#}
                        {#                                </span>#}
                        {#                        </div>#}
                    </header>

                    {% for review in reviews %}
                        <article class="box mb-3">
                            <div class="icontext w-100">
                                <img src="{% static './images/profile.jpg' %}" class="img-xs icon rounded-circle">
                                <div class="text">
                                    <span class="date text-muted float-md-right">{{ review.created_at }}</span>
                                    <h6 class="mb-1">{{ review.user.full_name }}</h6>
                                    <div class="rating-stars">
                                    <span>
                                        <i class="fa fa-star{% if review.rating == 0.5 %}-half{% elif review.rating < 1 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-star{% if review.rating == 1.5 %}-half{% elif review.rating < 2 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-star{% if review.rating == 2.5 %}-half{% elif review.rating < 3 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-star{% if review.rating == 3.5 %}-half{% elif review.rating < 4 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                        <i class="fa fa-star{% if review.rating == 4.5 %}-half{% elif review.rating < 5 %}-o {% endif %}"
                                           aria-hidden="true"></i>
                                    </span>
                                    </div>
                                </div>
                            </div> <!-- icontext.// -->
                            <div class="mt-3">
                                <h6>{{ review.subject }}</h6>
                                <p>
                                    {{ review.review }}
                                </p>
                            </div>
                        </article>
                    {% endfor %}

                </div> <!-- col.// -->
            </div> <!-- row.// -->


        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}